@keyframes navAnimate {
  0% {
    opacity: 0;
    top: -120px;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
nav {
  background-color: transparent;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1200;
  height: 90px;
  backdrop-filter: blur(3px);
  &.fixedNavbar {
    animation: navAnimate 0.3s ease-in;
    position: fixed;
    backdrop-filter: blur(8px);
    border-bottom: 2px solid $primaryColor;
    box-shadow: 0px 9px 21px -3px $primaryColor;
  }
  .container {
    @include flexBetween;
    height: 100%;
    .logo {
      @include flexCenter;
      font-family: "Anta", sans-serif !important;
      gap: 10px;
      font-size: 20px;
      i {
        color: goldenrod;
      }
      h1 {
        text-shadow: 2px 2px 16px $textColor;
        span {
          color: $primaryColor;
          text-shadow: 2px 2px 16px $primaryColor;
        }
      }
    }
    ul {
      display: flex;
      align-items: center;
      gap: 8px;
      li {
        font-weight: 700;
        font-size: 16px;
        text-shadow: 2px 2px 16px $textColor;
        position: relative;
        @include flexCenter;
        #toggle-icon {
          display: none;
        }
        a {
          transition: all 0.4s ease-in-out;
          position: relative;
          padding: 4px 8px;
          &:hover {
            text-shadow: 2px 2px 36px $secondaryColor;
            color: seashell;
            &::after {
              width: 100%;
              box-shadow: 2px 2px 12px $primaryColor;
            }
          }
          &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 0%;
            height: 100%;
            background-color: $primaryColor;
            transition: all 0.3s ease-in;
            z-index: -4;
            border-radius: 2px;
          }
        }
      }
    }
  }
}
